In [1]:
# Load packages 
import pandas as pd
import numpy as np
import math

In [2]:
# Load all datasets
groen18 = pd.read_csv("2018\\Groen_2018.csv", delimiter=',')
groen19 = pd.read_csv("2019\\Groen_2019.csv", delimiter=',')
water18 = pd.read_csv("2018\\Water_2018.csv", delimiter=',')
water19 = pd.read_csv("2019\\Water_2019.csv", delimiter=',')
straat18 = pd.read_csv("2018\\Weg_2018.csv", delimiter=',')
straat19 = pd.read_csv("2019\\Weg_2019.csv", delimiter=',')
groen17 = pd.read_csv("2017\\Groen_2017.csv", delimiter=',')
water17 = pd.read_csv("2017\\Water_2017.csv", delimiter=',')
straat17 = pd.read_csv("2017\\Weg_2017.csv", delimiter=',')

In [3]:
# Drop useless columns
groen18 = groen18[["buurt_code", "opp_terrein", "Shape_Area"]]
groen19 = groen19[["buurt_code", "opp_terrein", "Shape_Area"]]
water18 = water18[["buurt_code", "opp_water", "Shape_Area"]]
water19 = water19[["buurt_code", "opp_water", "Shape_Area"]]
straat18 = straat18[["buurt_code", "opp_weg", "Shape_Area"]]
straat19 = straat19[["buurt_code", "opp_weg", "Shape_Area"]]
groen17 = groen17[["buurt_code", "opp_groen", "Shape_Area"]]
water17 = water17[["buurt_code", "opp_water", "Shape_Area"]]
straat17 = straat17[["buurt_code", "opp_weg", "Shape_Area"]]

In [4]:
# Load neighborhood specific data
buurt17 = pd.read_csv("buurt17.csv", delimiter=',')
buurt18 = pd.read_csv("buurt18.csv", delimiter=',')
buurt19 = pd.read_csv("buurt19.csv", delimiter=',')
buurt19 = buurt19[["buurt_code", "c28992r100", "Percentage"]]
buurt18 = buurt18[["buurt_code", "c28992r100", "Percentage"]]
buurt17 = buurt17[["buurt_code", "c28992r100", "Percentage"]]

In [23]:
# For all datasets sum all surfaces of different green, water and road components
datasets = [groen18, groen19, water18, water19, straat18, straat19, groen17, water17, straat17]
sets = []
indexes = []
i = 0
for dataset in datasets:
    print(dataset)
    for buurt in dataset.buurt_code.unique():
        if i % 10000 == 0:
            print(i)
        i = i + 1
        filt = dataset[(dataset.buurt_code == buurt)]
        if len(filt) > 1:
            column = filt.columns[1]
            total = sum(filt[column])
            index = filt.iloc[0].name
            dataset[column].iloc[index] = total
            ind = filt.iloc[1:].index
            for j in ind:
                indexes.append(j)
    dataset = dataset[~(dataset.index.isin(indexes))]
    indexes = []
    print(len(dataset))
    sets.append(dataset)

groen18 = sets[0] 
groen19 = sets[1] 
water18 = sets[2] 
water19 = sets[3] 
straat18 = sets[4] 
straat19 = sets[5]
groen17 = sets[6] 
water17 = sets[7] 
straat17 = sets[8]

groen18.to_csv("2018\\Groen_2018_filtered.csv", index=False)
groen19.to_csv("2019\\Groen_2019_filtered.csv", index=False)
water18.to_csv("2018\\Water_2018_filtered.csv", index=False)
water19.to_csv("2019\\Water_2019_filtered.csv", index=False)
straat18.to_csv("2018\\Weg_2018_filtered.csv", index=False)
straat19.to_csv("2019\\Weg_2019_filtered.csv", index=False)
groen17.to_csv("2017\\Groen_2017_filtered.csv", index=False)
water17.to_csv("2017\\Water_2017_filtered.csv", index=False)
straat17.to_csv("2017\\Weg_2017_filtered.csv", index=False)

       buurt_code   opp_terrein    Shape_Area
0        19690709  5.199271e+06  6.865728e+06
1        16841106  5.064866e+06  1.425318e+07
2         2021368  2.596553e+07  3.284651e+07
3         1480210  6.592396e+06  9.590277e+06
4         6770301  1.528683e+05  7.489220e+05
...           ...           ...           ...
14118     3635100  1.616056e+04  1.039162e+05
14119     3840701  2.498002e+03  1.348029e+05
14120     3840701  2.832795e+03  1.348029e+05
14121     7480003  6.745197e+02  1.618495e+05
14122     7480003  2.568104e+03  1.618495e+05

[14123 rows x 3 columns]
0

C:\Users\s169096\Anaconda3\lib\site-packages\pandas\core\indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

10000
13928
       buurt_code   opp_terrein    Shape_Area
0          140001  7.022930e+03  5.910164e+05
1          140002  6.585199e+02  2.887054e+05
2          140004  3.336685e+04  1.957921e+05
3          140005  3.599105e+03  4.492095e+05
4          140100  2.801357e+04  2.322452e+05
...           ...           ...           ...
13899    19791989  2.478923e+04  2.583486e+05
13900    19791990  1.073660e+04  1.027189e+05
13901    19791991  4.876441e+04  2.285770e+05
13902    19791992  4.230710e+06  3.334447e+07
13903    19799998  1.406927e+05  9.129235e+07

[13904 rows x 3 columns]

C:\Users\s169096\Anaconda3\lib\site-packages\pandas\core\indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

20000
13242
       buurt_code     opp_water    Shape_Area
0         4847014  3.188430e+05  1.920430e+06
1         3440421  1.234063e+04  7.309963e+05
2         5690009  5.542945e+06  1.715498e+07
3        19660509  3.942221e+05  4.566978e+07
4        15980701  6.637327e+04  2.228004e+06
...           ...           ...           ...
13278     9860301  5.612068e+01  5.503064e+05
13279     9171200  1.094347e+02  6.914724e+05
13280    19540600  5.406507e+01  1.253595e+06
13281    16690204  6.340761e+01  8.358363e+04
13282     7726220  1.921826e+02  8.808792e+05

[13283 rows x 3 columns]

C:\Users\s169096\Anaconda3\lib\site-packages\pandas\core\indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

30000
12347
       buurt_code      opp_water    Shape_Area
0         3633500   76262.965026  2.199667e+05
1         4796230  298155.797737  1.951356e+06
2        19010514  337519.625170  2.217408e+06
3        17741299  162424.290089  9.904683e+06
4         6320802  670350.945751  1.558606e+07
...           ...            ...           ...
13502     1640504    3404.350253  2.726861e+05
13503     1640804      99.871396  5.059633e+05
13504     1640504     364.983718  2.726861e+05
13505     1500303    9949.668265  1.721376e+05
13506     1500304   21652.627393  3.456643e+05

[13507 rows x 3 columns]
40000

C:\Users\s169096\Anaconda3\lib\site-packages\pandas\core\indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

50000
12781
       buurt_code   opp_weg    Shape_Area
0        19492805  0.000313  1.961676e+06
1         1140309  0.001209  3.125896e+07
2         4480000  0.000847  2.575251e+06
3         5460702  0.000241  4.304038e+05
4         3211125  0.000298  3.191724e+05
...           ...       ...           ...
13807     3889997  0.000000  1.029189e+08
13808    19480228  0.000016  1.346859e+05
13809     6260009  0.000000  2.286185e+05
13810     6260009  0.000010  2.286185e+05
13811     3630304  0.000038  7.680717e+04

[13812 rows x 3 columns]

C:\Users\s169096\Anaconda3\lib\site-packages\pandas\core\indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

60000
13614
       buurt_code       opp_weg    Shape_Area
0         8230208  1.227554e-03  1.112699e+07
1        16800909  8.841349e-05  1.757889e+06
2         2620508  1.801248e-03  2.110536e+07
3         2035400  1.649706e+02  2.598834e+07
4         4480007  2.471979e-03  4.078510e+07
...           ...           ...           ...
12883     7580800  9.401087e-06  1.736854e+06
12884     7580700  5.999628e-08  1.750189e+06
12885     8930221  2.282007e-05  2.365844e+06
12886     8930221  4.678854e-06  2.365844e+06
12887     8930110  1.737641e-05  1.216576e+05

[12888 rows x 3 columns]

C:\Users\s169096\Anaconda3\lib\site-packages\pandas\core\indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

70000
12274
       buurt_code     opp_groen    Shape_Area
0        15071509  4.362990e+06  9.127226e+06
1         7620009  1.449596e+07  4.832087e+07
2        19400702  5.954188e+06  1.408884e+07
3         7941709  4.977929e+06  7.739794e+06
4        17230107  1.927908e+07  3.762176e+07
...           ...           ...           ...
14100      141404  1.438918e+05  5.890016e+05
14101      802006  4.244124e+03  9.925415e+04
14102     1060000  3.711557e+02  7.515209e+04
14103    17839998  9.676745e+04  7.354794e+06
14104     5309998  8.053241e-03  1.118310e+06

[14105 rows x 3 columns]
80000

C:\Users\s169096\Anaconda3\lib\site-packages\pandas\core\indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

90000
13918
       buurt_code      opp_water    Shape_Area
0         3580200  511712.720645  2.193896e+06
1         4053300   13938.545357  3.129190e+05
2        19590202   17879.704257  1.011587e+06
3         4200101   22430.192908  4.755350e+05
4         4200103   10732.697909  1.900402e+05
...           ...            ...           ...
13296     9833501  133535.848544  1.070106e+06
13297     9881401    7039.328826  3.791455e+05
13298     9835102  174100.033950  8.837861e+05
13299     7850813    1244.686241  3.676231e+05
13300     7152101       0.140580  5.698248e+05

[13301 rows x 3 columns]

C:\Users\s169096\Anaconda3\lib\site-packages\pandas\core\indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

100000
12476
       buurt_code        opp_weg    Shape_Area
0         3630900   41964.809869  2.714870e+05
1         5990325  172341.202951  6.807255e+05
2         5370304   49812.363349  2.005386e+05
3         5370305   38394.647343  2.155709e+05
4         5370301   81225.547785  5.118131e+05
...           ...            ...           ...
14149     3769997       0.002514  4.433251e+06
14150     6871416    1111.941684  3.129777e+05
14151    16959998       0.010000  2.877755e+07
14152      609998       0.000679  2.085914e+08
14153     4730401      28.406121  3.022840e+05

[14154 rows x 3 columns]
110000

C:\Users\s169096\Anaconda3\lib\site-packages\pandas\core\indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

14130

In [24]:
# Reload datasets
groen18 = pd.read_csv("2018\\Groen_2018_filtered.csv", delimiter=',')
groen19 = pd.read_csv("2019\\Groen_2019_filtered.csv", delimiter=',')
water18 = pd.read_csv("2018\\Water_2018_filtered.csv", delimiter=',')
water19 = pd.read_csv("2019\\Water_2019_filtered.csv", delimiter=',')
straat18 = pd.read_csv("2018\\Weg_2018_filtered.csv", delimiter=',')
straat19 = pd.read_csv("2019\\Weg_2019_filtered.csv", delimiter=',')
groen17 = pd.read_csv("2017\\Groen_2017_filtered.csv", delimiter=',')
water17 = pd.read_csv("2017\\Water_2017_filtered.csv", delimiter=',')
straat17 = pd.read_csv("2017\\Weg_2017_filtered.csv", delimiter=',')

In [ ]:
# For every grid get on unique neighborhood code, by dropping all but highest percentage (2017)
indexes = []
i = 0
for grid in buurt17["c28992r100"].unique():
    if i % 10000 == 0:
        print(i)
    i = i + 1
    filt = buurt17[(buurt17.c28992r100 == grid)]
    if len(filt) > 1:
        filt = filt.sort_values(ascending=False, by="Percentage")
        ind = filt[1:].index
        for j in ind:
            indexes.append(j)
buurt17 = buurt17.drop(indexes)

In [31]:
# Check length to see if every grid has one neighborhood code
buurt17

        buurt_code  c28992r100  Percentage
2           140000  E2337N5823          78
3           140000  E2338N5823          73
8           140000  E2335N5822          90
9           140000  E2336N5822         100
10          140000  E2337N5822         100
...            ...         ...         ...
500493    19791992  E2479N5958          56
500496    19791992  E2500N5956          62
500501    19791992  E2496N5954          74
500502    19791992  E2497N5954          54
500503    19791992  E2499N5954          61

[377081 rows x 3 columns]

In [32]:
# Merge water, green and road area 2017 with based on neighborhood code, to get correct grid number
groen_17 = pd.merge(buurt17, groen17, on="buurt_code", how="left")
water_17 = pd.merge(buurt17, water17, on="buurt_code", how="left")
straat_17 = pd.merge(buurt17, straat17, on="buurt_code", how="left")
datas = [groen_17, water_17, straat_17]
groen_17

        buurt_code  c28992r100  Percentage     opp_groen    Shape_Area
0           140000  E2337N5823          78  7.547929e+03  3.911049e+05
1           140000  E2338N5823          73  7.547929e+03  3.911049e+05
2           140000  E2335N5822          90  7.547929e+03  3.911049e+05
3           140000  E2336N5822         100  7.547929e+03  3.911049e+05
4           140000  E2337N5822         100  7.547929e+03  3.911049e+05
...            ...         ...         ...           ...           ...
377076    19791992  E2479N5958          56  6.375054e+06  3.334447e+07
377077    19791992  E2500N5956          62  6.375054e+06  3.334447e+07
377078    19791992  E2496N5954          74  6.375054e+06  3.334447e+07
377079    19791992  E2497N5954          54  6.375054e+06  3.334447e+07
377080    19791992  E2499N5954          61  6.375054e+06  3.334447e+07

[377081 rows x 5 columns]

In [33]:
# Check for duplicates
for data in datas:
    print(len(data))
    print(len(data["c28992r100"].unique()))

377081
377081
377081
377081
377081
377081

In [37]:
groen_17.describe()

         buurt_code     Percentage     opp_groen    Shape_Area
count  3.770810e+05  377081.000000  3.747700e+05  3.747700e+05
mean   8.421631e+06      93.965018  1.302574e+06  3.087209e+06
std    6.571031e+06      12.911721  3.219145e+06  6.948408e+06
min    1.400000e+05       0.000000  4.957103e-04  1.072403e+04
25%    2.990300e+06      98.000000  6.526008e+04  4.488835e+05
50%    6.260012e+06     100.000000  2.097362e+05  9.560891e+05
75%    1.658000e+07     100.000000  7.433710e+05  2.591126e+06
max    1.979199e+07     100.000000  5.930398e+07  5.100702e+08

In [38]:
# Write to csv
groen_17.to_csv("2017\\Groen_2017_unique.csv", index=False)
water_17.to_csv("2017\\Water_2017_unique.csv", index=False)
straat_17.to_csv("2017\\Weg_2017_unique.csv", index=False)

In [47]:
# Do the same for the years 2018 and 2019
indexes = []
i = 0
for grid in buurt18["c28992r100"].unique():
    if i % 10000 == 0:
        print(i)
    i = i + 1
    filt = buurt18[(buurt18.c28992r100 == grid)]
    if len(filt) > 1:
        filt = filt.sort_values(ascending=False, by="Percentage")
        ind = filt[1:].index
        for j in ind:
            indexes.append(j)
buurt18 = buurt18.drop(indexes)


buurt19 = pd.read_csv("buurt19.csv", delimiter=',')
buurt19 = buurt19[["buurt_code", "c28992r100", "Percentage"]]
indexes = []
i = 0
for grid in buurt19["c28992r100"].unique():
    if i % 10000 == 0:
        print(i)
    i = i + 1
    filt = buurt19[(buurt19.c28992r100 == grid)]
    if len(filt) > 1:
        filt = filt.sort_values(ascending=False, by="Percentage") 
        ind = filt[1:].index
        for j in ind:
            indexes.append(j)
buurt19 = buurt19.drop(indexes)

0
10000
20000
30000
40000
50000
60000
70000
80000
90000
100000
110000
120000
130000
140000
150000
160000
170000
180000
190000
200000
210000
220000
230000
240000
250000
260000
270000
280000
290000
300000
310000
320000
330000
340000
350000
360000
370000
0
10000
20000
30000
40000
50000
60000
70000
80000
90000
100000
110000
120000
130000
140000
150000
160000
170000
180000
190000
200000
210000
220000
230000
240000
250000
260000
270000
280000
290000
300000
310000
320000
330000
340000
350000
360000
370000
380000

In [48]:
groen_18 = pd.merge(buurt18, groen18, on="buurt_code", how="left")
water_18 = pd.merge(buurt18, water18, on="buurt_code", how="left")
straat_18 = pd.merge(buurt18, straat18, on="buurt_code", how="left")

groen_19 = pd.merge(buurt19, groen19, on="buurt_code", how="left")
water_19 = pd.merge(buurt19, water19, on="buurt_code", how="left")
straat_19 = pd.merge(buurt19, straat19, on="buurt_code", how="left")
datas = [groen_18, water_18, straat_18, groen_19, water_19, straat_19]

In [49]:
for data in datas:
    print(len(data))
    print(len(data["c28992r100"].unique()))

378873
378873
378873
378873
378873
378873
381061
381061
381061
381061
381061
381061

In [50]:
groen_18.to_csv("2018\\Groen_2018_unique.csv", index=False)
groen_19.to_csv("2019\\Groen_2019_unique.csv", index=False)
water_18.to_csv("2018\\Water_2018_unique.csv", index=False)
water_19.to_csv("2019\\Water_2019_unique.csv", index=False)
straat_18.to_csv("2018\\Weg_2018_unique.csv", index=False)
straat_19.to_csv("2019\\Weg_2019_unique.csv", index=False)

In [55]:
# Reload all the data
groen_18 = pd.read_csv("2018\\Groen_2018_unique.csv", delimiter=",")
groen_19 = pd.read_csv("2019\\Groen_2019_unique.csv", delimiter=",")
water_18 = pd.read_csv("2018\\Water_2018_unique.csv", delimiter=",")
water_19 = pd.read_csv("2019\\Water_2019_unique.csv", delimiter=",")
straat_18 = pd.read_csv("2018\\Weg_2018_unique.csv", delimiter=",")
straat_19 = pd.read_csv("2019\\Weg_2019_unique.csv", delimiter=",")
groen_17 = pd.read_csv("2017\\Groen_2017_unique.csv", delimiter=",")
water_17 = pd.read_csv("2017\\Water_2017_unique.csv", delimiter=",")
straat_17 = pd.read_csv("2017\\Weg_2017_unique.csv", delimiter=",")

In [56]:
groen_18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 378873 entries, 0 to 378872
Data columns (total 5 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   buurt_code   378873 non-null  int64
 1   c28992r100   378873 non-null  object
 2   Percentage   378873 non-null  int64
 3   opp_terrein  376542 non-null  float64
 4   Shape_Area   376542 non-null  float64
dtypes: float64(2), int64(2), object(1)
memory usage: 14.5+ MB

In [57]:
# Merge on neighborhood code to get total area and all green, water and road specific data in same dataset
buurtjes = pd.read_csv("buurtjes.csv", delimiter=',')
groen_17 = pd.merge(groen_17, buurtjes, on="buurt_code", how="left")
water_17 = pd.merge(water_17, buurtjes, on="buurt_code", how="left")
straat_17 = pd.merge(straat_17, buurtjes, on="buurt_code", how="left")
groen_18 = pd.merge(groen_18, buurtjes, on="buurt_code", how="left")
water_18 = pd.merge(water_18, buurtjes, on="buurt_code", how="left")
straat_18 = pd.merge(straat_18, buurtjes, on="buurt_code", how="left")
groen_19 = pd.merge(groen_19, buurtjes, on="buurt_code", how="left")
water_19 = pd.merge(water_19, buurtjes, on="buurt_code", how="left")
straat_19 = pd.merge(straat_19, buurtjes, on="buurt_code", how="left")

groen_18

,buurt_code,c28992r100,Percentage,opp_terrein,Shape_Area,Area
0,140000,E2337N5823,78,7.547929e+03,3.911049e+05,3.911049e+05
1,140000,E2338N5823,73,7.547929e+03,3.911049e+05,3.911049e+05
2,140000,E2335N5822,90,7.547929e+03,3.911049e+05,3.911049e+05
3,140000,E2336N5822,100,7.547929e+03,3.911049e+05,3.911049e+05
4,140000,E2337N5822,100,7.547929e+03,3.911049e+05,3.911049e+05
...,...,...,...,...,...,...
378868,19791992,E2468N5956,100,9.314128e+06,3.334447e+07,3.334447e+07
378869,19791992,E2500N5956,62,9.314128e+06,3.334447e+07,3.334447e+07
378870,19791992,E2496N5954,74,9.314128e+06,3.334447e+07,3.334447e+07
378871,19791992,E2497N5954,54,9.314128e+06,3.334447e+07,3.334447e+07
378872,19791992,E2499N5954,61,9.314128e+06,3.334447e+07,3.334447e+07

In [58]:
# Fill nans with zeros, since missing == no area == 0
groen_18 = groen_18.fillna(value = 0)
groen_19 = groen_19.fillna(value = 0)
water_18 = water_18.fillna(value = 0)
water_19 = water_19.fillna(value = 0)
straat_18 = straat_18.fillna(value = 0)
straat_19 = straat_19.fillna(value = 0)
groen_17 = groen_17.fillna(value = 0)
water_17 = water_17.fillna(value = 0)
straat_17 = straat_17.fillna(value = 0)

In [59]:
groen_18

,buurt_code,c28992r100,Percentage,opp_terrein,Shape_Area,Area
0,140000,E2337N5823,78,7.547929e+03,3.911049e+05,3.911049e+05
1,140000,E2338N5823,73,7.547929e+03,3.911049e+05,3.911049e+05
2,140000,E2335N5822,90,7.547929e+03,3.911049e+05,3.911049e+05
3,140000,E2336N5822,100,7.547929e+03,3.911049e+05,3.911049e+05
4,140000,E2337N5822,100,7.547929e+03,3.911049e+05,3.911049e+05
...,...,...,...,...,...,...
378868,19791992,E2468N5956,100,9.314128e+06,3.334447e+07,3.334447e+07
378869,19791992,E2500N5956,62,9.314128e+06,3.334447e+07,3.334447e+07
378870,19791992,E2496N5954,74,9.314128e+06,3.334447e+07,3.334447e+07
378871,19791992,E2497N5954,54,9.314128e+06,3.334447e+07,3.334447e+07
378872,19791992,E2499N5954,61,9.314128e+06,3.334447e+07,3.334447e+07

In [60]:
# Drop useless columns
groen_18 = groen_18[["opp_terrein", "Area", "c28992r100"]]
groen_19 = groen_19[[ "opp_terrein", "Area", "c28992r100"]]
water_18 = water_18[[ "opp_water", "Area", "c28992r100"]]
water_19 = water_19[[ "opp_water", "Area", "c28992r100"]]
straat_18 = straat_18[[ "opp_weg", "Area", "c28992r100"]]
straat_19 = straat_19[[ "opp_weg", "Area", "c28992r100"]]
groen_17 = groen_17[[ "opp_groen", "Area", "c28992r100"]]
water_17 = water_17[[ "opp_water", "Area", "c28992r100"]]
straat_17 = straat_17[[ "opp_weg", "Area", "c28992r100"]]

In [62]:
# Merge green and water
a17 = pd.merge(groen_17, water_17, on=["c28992r100"], how="outer")
a18 = pd.merge(groen_18, water_18, on=["c28992r100"], how="outer")
a19 = pd.merge(groen_19, water_19, on=["c28992r100"], how="outer")

In [63]:
# Merge Road with Combined Green and Water 
gww17 = pd.merge(a17, straat_17, on=["c28992r100"], how="outer")
gww18 = pd.merge(a18, straat_18, on=["c28992r100"], how="outer") 
gww19 = pd.merge(a19, straat_19, on=["c28992r100"], how="outer")

# Fill nans with zeros, since missing == no area == 0
gww17 = gww17.fillna(value = 0 )
gww18 = gww18.fillna(value = 0 )
gww19 = gww19.fillna(value = 0 )

In [95]:
gww18.to_csv("test18.csv")

In [66]:
# Calculate leftover space
uit17 = []
uit18 = []
uit19 = []

for index,row in gww18.iterrows():
    uit18.append((row["Area"]- row["opp_terrein"]- row["opp_water"] - row["opp_weg"]))

for index,row in gww19.iterrows():
    uit19.append((row["Area"] - row["opp_terrein"] - row["opp_water"] - row["opp_weg"]))

for index,row in gww17.iterrows():
    uit17.append((row["Area"] - row["opp_groen"] - row["opp_water"] - row["opp_weg"]))


gww17["opp_uitgeefbaar"] = uit17
gww18["opp_uitgeefbaar"] = uit18
gww19["opp_uitgeefbaar"] = uit19 

gww17 = gww17.drop(labels=["Area_x","Area_y"], axis=1)
gww18 = gww18.drop(labels=["Area_x","Area_y"], axis=1)
gww19 = gww19.drop(labels=["Area_x","Area_y"], axis=1)

gww17.to_csv("CleanGroenWaterWeg17.csv", index=False)
gww18.to_csv("CleanGroenWaterWeg18.csv", index=False)
gww19.to_csv("CleanGroenWaterWeg19.csv", index=False)

In [69]:
# Clean out negative values for zero
for index, grid in gww17.iterrows():
    if grid["opp_uitgeefbaar"]<0:
        gww17.at[[index],["opp_uitgeefbaar"]] = 0

for index, grid in gww18.iterrows():
    if grid["opp_uitgeefbaar"]<0:
        gww18.at[[index],["opp_uitgeefbaar"]] = 0
        
for index, grid in gww19.iterrows():
    if grid["opp_uitgeefbaar"]<0:
        gww19.at[[index],["opp_uitgeefbaar"]] = 0

In [71]:
# Drop useless column
gww17 = gww17.drop(labels=["Area"], axis=1)
gww18 = gww18.drop(labels=["Area"], axis=1)
gww19 = gww19.drop(labels=["Area"], axis=1)
gww17

,opp_groen,c28992r100,opp_water,opp_weg,opp_uitgeefbaar
0,7.547929e+03,E2337N5823,20917.756654,65988.168762,2.966511e+05
1,7.547929e+03,E2338N5823,20917.756654,65988.168762,2.966511e+05
2,7.547929e+03,E2335N5822,20917.756654,65988.168762,2.966511e+05
3,7.547929e+03,E2336N5822,20917.756654,65988.168762,2.966511e+05
4,7.547929e+03,E2337N5822,20917.756654,65988.168762,2.966511e+05
...,...,...,...,...,...
377076,6.375054e+06,E2479N5958,227029.403996,721376.321528,2.602102e+07
377077,6.375054e+06,E2500N5956,227029.403996,721376.321528,2.602102e+07
377078,6.375054e+06,E2496N5954,227029.403996,721376.321528,2.602102e+07
377079,6.375054e+06,E2497N5954,227029.403996,721376.321528,2.602102e+07
377080,6.375054e+06,E2499N5954,227029.403996,721376.321528,2.602102e+07

In [98]:
# Drop old values in main datasets
Data_2017 = pd.read_csv("..\\17_final.csv",delimiter=',')
Data_2018 = pd.read_csv("..\\18_final.csv",delimiter=',')
Data_2019 = pd.read_csv("..\\19_5.csv",delimiter=',')

Data_2017 = Data_2017.drop(labels=["sur_green","sur_water","sur_road","sur_other"],axis=1)
Data_2018 = Data_2018.drop(labels=["sur_green","sur_water","sur_road","sur_other"],axis=1)
Data_2019 = Data_2019.drop(labels=["sur_green","sur_water","sur_road","sur_other"],axis=1)

In [99]:
# Merge main datasets with specific datasets
Data_2017 = pd.merge(Data_2017, gww17, on=["c28992r100"], how="left")
Data_2018 = pd.merge(Data_2018, gww18, on=["c28992r100"], how="left")
Data_2019 = pd.merge(Data_2019, gww19, on=["c28992r100"], how="left")

In [100]:
# Immediately also set "Fundering" correctly
Data_2017 = Data_2017.replace(to_replace="Niet Kwetsbaar", value=0, regex=True)
Data_2018 = Data_2018.replace(to_replace="Niet Kwetsbaar", value=0, regex=True)
Data_2019 = Data_2019.replace(to_replace="Niet Kwetsbaar", value=0, regex=True)
Data_2017 = Data_2017.replace(to_replace="Kwetsbaar", value=1, regex=True)
Data_2018 = Data_2018.replace(to_replace="Kwetsbaar", value=1, regex=True)
Data_2019 = Data_2019.replace(to_replace="Kwetsbaar", value=1, regex=True)

In [101]:
# Fill all missing values with 0, since missing == no area
Data_2017 = Data_2017.fillna(value = 0 )
Data_2019 = Data_2019.fillna(value = 0 )
Data_2019.to_csv("..\\19_final.csv", index=False)
Data_2017.to_csv("..\\17_final.csv", index=False)
Data_2018 = Data_2018.fillna(value = 0 )
Data_2018.to_csv("..\\18_final.csv", index=False)